<!DOCTYPE html>
<html>
  <head>
    <title>ちりつも</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="vh-100">
      <div class="row">
        <% unless login_page? %>
          <div class="p-0" style="width: 200px;"></div>
          <div class="p-0 position-fixed" style="width: 200px;">
            <%= render "layouts/sidebar" %>
          </div>
        <% end %>
        <div class="col my-4 mx-auto px-5" style="max-width: 1000px">
          <div class="position-fixed top-2" style="right: 20px;">
            <%= render "layouts/flash" %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
